@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap);.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-img-fixed {
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-img {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-img-repeat {
  background-repeat: repeat;
}

.ms-parent.form-select.select {
  padding: 0;
  border: 0;
}

.ms-parent.form-select.select .ms-choice {
  height: 100%;
}

.ms-parent.form-select.select .ms-choice span {
  padding: 4px 10px;
}

.main-nav {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 0 #191919;
          box-shadow: 0 0 5px 0 #191919;
  z-index: 99999;
}

.header {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.our-values .value .value-img {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  width: auto;
  height: 100px;
}

.bg-img-size-100 {
  background-size: 100% 100%;
}

.support-menaova {
  margin-top: 50px;
  margin-bottom: 50px;
}

.support-menaova h1 {
  text-align: center;
}

.support-menaova .support-me ul {
  margin-top: 30px;
}

.support-menaova .support-me ul li {
  list-style: none;
}

* {
  font-family: 'Cairo', sans-serif;
}

