
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 240px;
  z-index: 3;
  transition: all 1s;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition:all 1s;
}

.dropdown-content a:hover {background-color: #ffa500;}
.dropdown{
    transition: all 1s;
}
.dropdown:hover .dropdown-content {display: block;}
